<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyArrF5cNz1tW9bxddAjWjI7w0-cnIl3KOE</string>
	<key>GCM_SENDER_ID</key>
	<string>1026709119955</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.opensaucery.swiftswapp</string>
	<key>PROJECT_ID</key>
	<string>swiftswap-59406</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftswap-59406.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1026709119955:ios:f5b42bd7c8ec8f5da90526</string>
</dict>
</plist>